<!DOCTYPE html>
<html>
	<head>
		<title>foobar</title>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

	</head>
	<body>
			
			<div class="container">
				   <table class="table table-striped">
					  <tbody>
						 <tr>
							<td colspan="1">
							   <form class="well form-horizontal">
								  <fieldset>
									 <div class="form-group">
										<label class="col-md-4 control-label">Nom</label>
										<div class="col-md-8 inputGroupContainer">
										   <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="fullName" name="fullName" placeholder="Full Name" class="form-control" required="true" value="" type="text"></div>
										</div>
									 </div>
									 <div class="form-group">
										<label class="col-md-4 control-label">Prenom</label>
										<div class="col-md-8 inputGroupContainer">
										   <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="addressLine1" name="addressLine1" placeholder="Address Line 1" class="form-control" required="true" value="" type="text"></div>
										</div>
									 </div>
									 <div class="form-group">
										<label class="col-md-4 control-label">Wilaya</label>
										<div class="col-md-8 inputGroupContainer"></div>
										   <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="addressLine2" name="addressLine2" placeholder="Address Line 2" class="form-control" required="true" value="" type="text"></div>
										</div>
									 </div>
									 <div class="form-group">
										<label class="col-md-4 control-label">COmmune</label>
										<div class="col-md-8 inputGroupContainer">
										   <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="city" name="city" placeholder="City" class="form-control" required="true" value="" type="text"></div>
										</div>
									 </div>
									 <div class="form-group">
										<label class="col-md-4 control-label">Address</label>
										<div class="col-md-8 inputGroupContainer">
										   <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="state" name="state" placeholder="State/Province/Region" class="form-control" required="true" value="" type="text"></div>
										</div>
									 </div>
					
									 <div class="form-group">
										<label class="col-md-4 control-label">Email</label>
										<div class="col-md-8 inputGroupContainer">
										   <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span><input id="email" name="email" placeholder="Email" class="form-control" required="true" value="" type="text"></div>
										</div>
									 </div>
									 <div class="form-group">
										<label class="col-md-4 control-label">Phone Number</label>
										<div class="col-md-8 inputGroupContainer">
										   <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span><input id="phoneNumber" name="phoneNumber" placeholder="Phone Number" class="form-control" required="true" value="" type="text"></div>
										</div>
									 </div>
								  </fieldset>
							   </form>		
						 </tr>
					  </tbody>
				   </table>
				</div>	</body>
</html>
