<!DOCTYPE html>
<html>
	<head>
		<title>traducteur profile</title>
		<link href="../css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<link href="../css/font-awesome.min.css" rel="stylesheet">
		<link href="profiles.css" rel="stylesheet">


	</head>
	<body>
		<div class="container">
				<div class="row">
					<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
					 <div class="well profile">
						<div class="col-sm-12">
							<div class="col-xs-12 col-sm-8">
								<h2 style="margin-bottom: 0;" >Wor1</h2>
								<p><strong>Algerie,Alger</strong></p>
								<p><strong>About: </strong>
									Web Designer / UI.Read, out with friends, listen to musi.
								</p>
								<p><strong>Langues: </strong>
									<span class="tags">Arabe</span> 
									<span class="tags">Francais</span>
									<span class="tags">Anglais</span>
								</p>
							</div>             
							<div class="col-xs-12 col-sm-4 text-center">
								<figure>
									<figcaption class="ratings">
										<p>Ratings
										<a href="#">
											<span class="fa fa-star"></span>
										</a>
										<a href="#">
											<span class="fa fa-star"></span>
										</a>
										<a href="#">
											<span class="fa fa-star"></span>
										</a>
										<a href="#">
											<span class="fa fa-star"></span>
										</a>
										<a href="#">
											 <span class="fa fa-star-o"></span>
										</a> 
										</p>
									</figcaption>
								</figure>
							</div>
							<div class="col-xs-12 col-sm-8">
									<h2 style="margin-bottom: 0;" >Work2</h2>
									<p><strong>Algerie,Alger</strong></p>
									<p><strong>About: </strong>
										Web Designer / UI.Read, out with friends, listen to musi.
									</p>
									<p><strong>Langues: </strong>
										<span class="tags">Arabe</span> 
										<span class="tags">Francais</span>
										<span class="tags">Anglais</span>
									</p>
								</div>             
								<div class="col-xs-12 col-sm-4 text-center">
									<figure>
										<figcaption class="ratings">
											<p>Ratings
											<a href="#">
												<span class="fa fa-star"></span>
											</a>
											<a href="#">
												<span class="fa fa-star"></span>
											</a>
											<a href="#">
												<span class="fa fa-star"></span>
											</a>
											<a href="#">
												<span class="fa fa-star"></span>
											</a>
											<a href="#">
												 <span class="fa fa-star-o"></span>
											</a> 
											</p>
										</figcaption>
									</figure>
								</div>	<div class="col-xs-12 col-sm-8">
										<h2 style="margin-bottom: 0;" >Wor</h2>
										<p><strong>Algerie,Alger</strong></p>
										<p><strong>About: </strong>
											Web Designer / UI.Read, out with friends, listen to musi.
										</p>
										<p><strong>Langues: </strong>
											<span class="tags">Arabe</span> 
											<span class="tags">Francais</span>
											<span class="tags">Anglais</span>
										</p>
									</div>             
									<div class="col-xs-12 col-sm-4 text-center">
										<figure>
											<figcaption class="ratings">
												<p>Ratings
												<a href="#">
													<span class="fa fa-star"></span>
												</a>
												<a href="#">
													<span class="fa fa-star"></span>
												</a>
												<a href="#">
													<span class="fa fa-star"></span>
												</a>
												<a href="#">
													<span class="fa fa-star"></span>
												</a>
												<a href="#">
													 <span class="fa fa-star-o"></span>
												</a> 
												</p>
											</figcaption>
										</figure>
									</div>
						</div>            
					 </div>      
					            
					</div>
				</div>
			</div>
	</body>
</html>
