<!DOCTYPE html>
<html>
	<head>
		<link href="sign.css" rel="stylesheet">		
		<title>foobar</title>
	</head>

	<body>
		<button class="loginbtn" onclick="document.getElementById('login').style.display='block'">Login</button>
		<div id="login" class="login">
			<form class="login-content" action="../template.html">
				<span onclick="document.getElementById('login').style.display='none'"
				class="login-close" >&times;</span>
				<div class="login-container">
					<label for="uname"><b>Username</b></label>
					<input type="text" placeholder="Enter Username" name="uname" required>
					<label for="psw"><b>Password</b></label>
					<input type="password" placeholder="Enter Password" name="psw" required>
					<button type="submit">Login</button>
					<label>
						<input type="checkbox" checked="checked" name="remember"> Remember me
					</label>
				</div>
				<div class="login-container" style="background-color:#f1f1f1">
					<button type="button" onclick="document.getElementById('login').style.display='none'" 	class="login-cancelbtn">Cancel</button>
					<span class="login-psw">Forgot <a href="#">password?</a></span>
				</div>
			</form>
		</div>	


	</body>
</html>
