/* Bordered form */
form.sign-content {
	border-radius: 8px;
  }
  
  /* Full-width inputs */
.sign-container input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
.sign-container button,button.signbtn{
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	cursor: pointer;
	width: 100%;
	border-radius: 8px;
  }
  button.signbtn {
	width: 150px !important;
	padding: 10px 16px !important;
	height: 50px;
	text-align: center;
	margin-left: 120px;
	border-radius: 8px;
  }
  
  /* Add a hover effect for buttons */
.sign-container button:hover {
	opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
button.sign-cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
	border-radius: 8px;
  }

  
  /* Add padding to containers */
  .sign-container {
	padding: 16px;
	box-shadow:5px black;

  }

  /* The "Forgot password" text */
span.sign-psw {
	float: right;
	padding-top: 16px;
  }
  
/* The Modal (background) */
.sign {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 20px;
  }
  
  /* Modal Content/Box */
  .sign-content {
	position: relative;
	background-color: #fefefe;
	margin: 5px auto; /* 15% from the top and centered */
	width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
.sign-close {
	/* Position it in the top right corner outside of the modal */
	position: absolute;
	right: 10px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
  }
  
  /* Close button on hover */
.sign-close:hover,.sign-close:focus {
	color: red;
	cursor: pointer;
  }
