<!DOCTYPE html>
<html>
	<head>
		<title>Client</title>
		<link href="../template/template.css" rel="stylesheet">
		<script>

		</script>
	</head>
	<body>
		<div>Accueil client</div>
		<a>My Profile</a>
		<button>Ajouter une demande de devis de traduction</button>
		<ul class="main-menu">
			<li><a id="dtc" href="../client/">Demande de traduction en cour</a></li>
			<li><a id="dv" href="dv.html">Les demandes validées</a></li>
		   <li><a id="dt" href="dt.html" >Traduction terminé</a></li>
		</ul>
		<div class="content">
				<div class="dtc">
						<p>date 
						les langues d’origine et source,
						le type de traduction souhaité (général, scientifique, site web
						les commentaires et demandes spécifique  le fichier du document à traduire
						un traducteur assermenté pour cette traduction. (1pt)
						</p>
						<p>choisir le traducteur</p>
				</div>
			</div>
	</body>
</html>