<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="form2.css" rel="stylesheet">		
		<title>form2</title>
	</head>
	<body>
			<div class="form-style-5">
				<form>
					<h1>Demande de traduction :</h1>
					<input type="text" name="nom" placeholder="Votre nom *">
					<input type="text" name="prenom" placeholder="Votre prenom*">
					<input type="email" name="email" placeholder="Votre email *">
					<input type="text" name="tel" placeholder="Votre numero de telephone *">
					<input type="text" name="adresse" placeholder="Votre adresse">
					<input type="text" name="langueo" placeholder="Langue d'origine des documents*">
					<input type="text" name="languec" placeholder="Langue cible*">
					<label for="job">Type de traduction souhaité:</label>
					<select id="type_traduction" name="type_traduction">
					  <option value="generale">Générale</option>
					  <option value="scientifique">Scientifique</option>
					  <option value="siteweb">Site web</option>
					</select>    
					<textarea name="commentaire" placeholder="Demande spécifique / commentaire ..."></textarea>	
					<label>Choisir le document a traduire :
							<input type="file" name="document">
					</label>
					<label for="assermente"> Traducteur Assermenté :
							<input type="checkbox" id="assermente" name="assermente" value="oui">
						</label></br>
					<input type="submit" value="Apply" />
				</form>
			</div>
				
							
	</body>
</html>
